@charset "utf-8";

.miso-shop-banner { overflow:hidden; position:relative; width:100%; line-height:20px; }
.miso-shop-banner .item-list { position:relative; overflow:hidden; }
.miso-shop-banner .item-none { padding:50px 10px; text-align:center; color:#888; }
.miso-shop-banner .item-image { position:relative; overflow:hidden; }
