@charset "utf-8";

/* Common */
.item-wrap { width:100%; overflow:hidden; }
.item-wrap ul.ul { padding:0px; margin:0px; }
.item-wrap ul.ul li { margin-left:15px; }
.item-wrap .item-explan p { padding:0px; margin:0px; }
.item-wrap .item-explan img { max-width:100%; }
.item-wrap .item-explan .apms-autowrap { max-width:800px !important; }
.item-wrap .img-photo i { background: rgb(245, 245, 245); padding: 16px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(143, 143, 143); font-size: 40px; display: inline-block; }
.item-wrap .img-photo img { border-radius: 50%; width: 80px !important; height: 80px !important; display:inline-block; }
.item-wrap .img-resize { min-height:35px; padding-bottom:10px; }
.item-wrap .img-resize img { max-width:100%; height:auto; }
.item-wrap .tbox-head { padding:12px 0px 8px !important; margin:0px 0px 15px; font-weight:bold; border-bottom:1px dotted #606060; background: #fff; }
.item-wrap .tbox-head.no-line { margin:0px; border:0px }
.item-wrap .tbox-body { padding:0px; margin:0px 0px 15px; background: #fff; }
.item-wrap .tbox-body ul { padding:0px; margin:0px; }
.item-wrap .tbox-body ul li { margin-left:15px; }
.item-wrap .tbox-body p { padding:0px; margin:0px; } 
.item-wrap .tbox-body table { width:100%; border-collapse:collapse; padding:0px; margin:0px; border:0px; } 
.item-wrap .tbox-body table.top-border { border-top:2px solid #606060; } 
.item-wrap .tbox-body caption { display:none; }
.item-wrap .tbox-body thead th { text-align:center; padding:8px 12px; border-bottom:0px; color:#fff; background:#606060; white-space:nowrap; line-height:22px;}
.item-wrap .tbox-body tbody th { text-align:left; padding:8px 12px; border-bottom:1px solid #ddd; background:#fafafa; line-height:22px;}
.item-wrap .tbox-body tbody td { padding:8px 10px; border-bottom:1px solid #ddd; line-height:22px;}
.item-wrap .btn-item { border: 0px; border-image: none; color: rgb(51, 51, 51) !important; background-color: none; background-image: none; outline: none !important; box-shadow:none !important; -webkit-box-shadow: none !important;}

#it_sel_option .list-group-item { padding-left:0px; padding-right:0px; }

/* Image */
#sit_pvi {}
#sit_pvi_big {margin:0px;text-align:center}
#sit_pvi_big a { display:none; }
#sit_pvi_big a.visible { display:block; }
#sit_pvi_big img { max-width:100%; border:0; margin:0px auto;}
#sit_pvi_thumb { margin:0 -4px; text-align:center; padding:15px; overflow:hidden; }
#sit_pvi_thumb a { display:inline-block; margin:0 4px 4px 0; }
#sit_pvi_thumb img { border:2px solid transparent; }
#sit_pvi_thumb img:hover { border:2px solid rgb(233, 27, 35); }

/* Head */
.item-head { padding: 0px; border: 1px solid #ddd; margin-bottom:15px; width:100%; background:#fff; background:#fff url('./img/bg.png') repeat-y center top; }
.item-head .row { margin:0px; }
.item-head .col { padding:0px; }
.item-head .sel-row { margin:0px; }
.item-head .sel-col { padding:0px; }
.item-head .img-container { position:relative; overflow:hidden; }
.item-head h1 { color:#333; margin:0px 0px 2px; padding:0px; line-height:28px; font-size: 22px; font-weight:bold; letter-spacing:-1px; }
.item-head .text { padding:20px 20px 10px; }
.item-head .desc { color:#888; padding-top:8px; }
.item-head .price { margin-top:15px; }
.item-head .price strike { margin-left:4px; font-size:14px; color:#888; font-weight:normal; }
.item-head .price .dc { color:crimson; font-size:14px; margin-left:4px; font-style:italic; }
.item-head .option-line { height:1px; border-top:1px solid #ddd; margin:9px 0px 10px; }
.item-head .option-tbl { border:0px; margin-bottom:8px; }
.item-head .option-tbl th { max-width:100px; border:0px; font-weight:normal; padding:0px; padding-top:8px; }
.item-head .option-tbl td { border:0px; padding:0px; padding-top:8px; }
.item-head .option-msg { margin:10px 10px 0px; }
.item-head .list-group { margin:0px; }
.item-head .price-sum { text-align:right; margin:15px 0px; color:#888; }
.item-head ul.item-form-btn { padding:0px; margin:0px; list-style:none; overflow:hidden; margin:0px -3px; }
.item-head ul.item-form-btn li { float:left; width:25%; padding:3px 3px 10px; }
.item-head .sns-icon { margin:10px 0px 0px; padding:0px; text-align:right; }
.item-head .tag { margin:10px 0px 0px; padding:0px; color:#888; }
.item-head .tag a { color:#888; }
.item-head .tag a:hover { color:crimson; }

/* SNS-Icon */
#it_v_sns {margin:0px;padding:0;list-style:none;zoom:1}
#it_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#it_v_sns li {float:left;margin:0 5px 0 0}

@media all and (max-width:767px) {
	.responsive .item-head { background: none; }
	.responsive .item-head .img-container { background: #fff; }
	.responsive .item-head .form-container { background: #fafafa; border-top:1px solid #e6e6e9; }
}
@media all and (max-width:460px) {
	.responsive .item-head .text { padding:10px; }
	.responsive .item-head ul.item-form-btn li { width:50%;	}
}

/* Item View Icon */
.item-view-icon ul { margin:5px 0px 10px; padding:0px; font-weight:normal; list-style:none; }
.item-view-icon li { display:inline-block; width:70px; margin:5px 0px; }
.item-view-icon li span { display:block; margin-top:8px; letter-spacing:-1px; white-space:nowrap; font-size:12px; }

/* Item Good Box */
.item-good-box { text-align:center; margin-bottom:10px; }
.item-good-box span { margin:15px 6px; width:80px; height:80px; display:inline-block; }
.item-good-box a { background: rgb(245, 245, 245); padding: 15px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(51, 51, 51); font-size: 22px; line-height:26px; display: inline-block; }
.item-good-box .item-good a:hover { background: rgb(223, 17, 25); color: rgb(255, 255, 255); }
.item-good-box .item-nogood a:hover { background: rgb(0, 0, 0); color: rgb(255, 255, 255); }

/* Item Seller */
.item-seller .img-photo i { background: rgb(245, 245, 245); padding: 16px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(143, 143, 143); font-size: 40px; display: inline-block; }
.item-seller .img-photo img { border-radius: 50%; width: 80px !important; height: 80px !important; display:inline-block; }
.item-seller .auth-photo { width:160px; padding-right:15px; }
@media all and (max-width:460px) {
	.responsive .item-seller .auth-photo { float:none; width:100%; padding-right:0px; }
}

/* Page */
.item-page { margin:15px 0px; }

/* Tab */
.item-tab .tabs { margin:0px; }
.item-tab .tabs::before { display: table; content: " "; }
.item-tab .tabs::after { display: table; content: " "; clear:both; }
.item-tab .tabs ul.nav-tabs a b { padding:0px; line-height:14px; letter-spacing:-1px; }
.item-tab .tabs ul.nav-tabs a:hover b, .item-tab .tabs ul.nav-tabs a:active b, .item-tab .tabs ul.nav-tabs a:focus b { color: #fff; }
.item-tab .tabs ul.nav-tabs li.active a:hover b, .item-tab .tabs ul.nav-tabs li.active a:active b, .item-tab .tabs ul.nav-tabs li.active a:focus b { color: rgb(233, 27, 35) !important; }

.item-tab .tabs ul.tabs-top { border:0px; border-left:1px solid #ddd; margin:20px 15px 0px; }
.item-tab .tabs ul.tabs-top a { padding:8px 15px; background: rgb(247, 247, 247); color: #333; margin-right: 0px; border-radius: 0px; -moz-border-radius: 0; -webkit-border-radius: 0; border:1px solid #ddd; border-left:0px; }
.item-tab .tabs ul.tabs-top a:hover, .item-tab .tabs ul.tabs-top a:active, .item-tab .tabs ul.tabs-top a:focus { color: #fff; background: rgb(233, 27, 35); }
.item-tab .tabs ul.tabs-top li.active a { background: rgb(255, 255, 255); color: rgb(233, 27, 35); font-weight:bold; border-bottom:1px solid #fff;}

.item-tab .tabs ul.tabs-bottom { float:right; border:0px; border-left:1px solid #ddd; margin:0px 15px; }
.item-tab .tabs ul.tabs-bottom a { padding:8px 15px; background: rgb(247, 247, 247); color: #333; margin-right: 0px; border-radius: 0px; -moz-border-radius: 0; -webkit-border-radius: 0; border:1px solid #ddd; border-left:0px; }
.item-tab .tabs ul.tabs-bottom a:hover, .item-tab .tabs ul.tabs-bottom a:active, .item-tab .tabs ul.tabs-bottom a:focus { color: #fff; background: rgb(233, 27, 35); }
.item-tab .tabs ul.tabs-bottom li { margin-bottom:0px; margin-top:-1px; }
.item-tab .tabs ul.tabs-bottom li.active a { background: rgb(255, 255, 255); color: rgb(233, 27, 35); font-weight:bold; border-top:1px solid #fff;}
.item-tab .tabs .tab-content { border:0px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding: 30px 15px 15px; }

.no-responsive .item-tab .tabs ul.nav-tabs li.tab-right { float:right !important; }
.no-responsive .item-tab .tabs ul.nav-tabs li.tab-right a { border-left:1px solid #ddd; border-right:0px; }
.no-responsive .item-tab .tabs ul.nav-tabs li.tab-right.last a { border-right:1px solid #ddd; }

@media all and (min-width: 768px) {
	.responsive .item-tab .tabs ul.nav-tabs li.tab-right { float:right !important; }
	.responsive .item-tab .tabs ul.nav-tabs li.tab-right a { border-left:1px solid #ddd; border-right:0px; }
	.responsive .item-tab .tabs ul.nav-tabs li.tab-right.last a { border-right:1px solid #ddd; }
}

@media all and (max-width:767px) {
	.responsive .item-tab .tabs ul.nav-tabs { float: none !important }
	.responsive .item-tab .tabs ul.nav-tabs li { width:50% !important }
	.responsive .item-tab .tabs ul.tabs-top { margin:10px 0px 20px !important; }
	.responsive .item-tab .tabs ul.tabs-bottom { margin:10px 0px !important; }
	.responsive .item-tab .tabs ul.tabs-bottom li.active a { border-top:1px solid #ddd;}
	.responsive .item-tab .tabs .tab-content { padding: 10px !important; border:0px !important; }
}

/* Comment */
.comment-media { }
.comment-media .photo i { background: rgb(245, 245, 245); padding: 15px; border-radius: 50%; width: 64px; height: 64px; text-align: center; color: rgb(143, 143, 143); font-size: 30px; display: inline-block; }
.comment-media .photo img { border-radius: 50%; width: 64px !important; height: 64px !important; display:inline-block; }
.is-mobile .comment-media .photo i { padding: 10px; width: 54px; height: 54px; }
.is-mobile .comment-media .photo img { width: 54px !important; height: 54px !important; }

.comment-media .media { border-top:1px solid #eee; margin:7px 0px; padding:7px 0px 0px; }
.comment-media :first-child.media { border-top:0px; margin-top:0px; padding-top:0px; }
.comment-media h5 { margin:2px 0px; line-height: 22px; }
.comment-media .media .media-body { padding-left:0px; }
.comment-media .media .media-info { margin-left:10px; }
.comment-media .media .media-content { margin-top:8px; }
.comment-media .media .media-btn {	margin-left:4px; }

.comment-form { padding-top:10px; }
.comment-box { border:1px solid #ddd; padding:12px 12px 0px; background:#fbfbfb; }
.comment-content { display:table; width:100%; table-layout:fixed; }
.comment-content .comment-cell { display:table-cell; padding:0px; text-align:center; vertical-align:middle; }
.comment-content .comment-cell.comment-submit { width:80px; height:100%; background:#fafafa; border:1px solid #ccc; border-left:0px; cursor:pointer; }
.comment-btn .cursor { margin-left:12px; color:#787878; }

#wr_content { resize:none; }
#it_vc_opt ol {	margin:0;padding:0;list-style:none;zoom:1; }
#it_vc_opt ol:after { display:block;visibility:hidden;clear:both;content:""; }
#it_vc_opt ol li { float:left;margin:0; }
#it_vc_send_sns ul { margin:0;padding:0;list-style:none;zoom:1; }
#it_vc_send_sns ul:after { display:block;visibility:hidden;clear:both;content:""; }
#it_vc_send_sns ul li {	float:left;margin:0 20px 0 0; }
#it_vc_send_sns input {	margin:0 0 0 5px; }

/* Item Relation */
.shop-relation { overflow:hidden; position:relative; width:100%; line-height:20px; }
.shop-relation .item-list { overflow:hidden; border:1px solid #ddd; }
.shop-relation .item-image { position:relative; overflow:hidden; margin:0px; }
.shop-relation .item-img { position:relative; overflow:hidden; max-height:360px; }
.shop-relation .item-img .wr-img { width:100%; height:auto; }
.shop-relation .item-icon { position:absolute; left:0px; top:10px; line-height:1px; z-index:1; }
.shop-relation .item-content { overflow:hidden; padding:10px 15px 0px; }
.shop-relation .item-content strong { font-size:14px; letter-spacing:-1px; padding-right:1px; }
.shop-relation .item-content .item-desc { font-size:12px; color:#888; margin-top:4px; }
.shop-relation .item-cur-price { font-size:13px; padding:0px 15px; line-height:16px; height:16px; margin-top:6px; text-align:right; }
.shop-relation .item-price { font-size:15px; padding:0px 15px 10px; line-height:22px; }
.shop-relation .item-info { text-align:center; font-size:15px; padding:8px 15px; padding-right:5px; line-height:24px; border-top:1px solid #eee; background:#fafafa; }
.shop-relation .item-info span { display:inline-block; margin-right:10px; }
.shop-relation .item-info span i { margin-right:2px; }
.shop-relation .item-info span.item-star i { margin-right:0px; }

.shop-relation .item-point { position:absolute; left:0; bottom:0; z-index:1; margin:0px !important; padding:4px 6px 4px 15px !important; line-height:1 !important;}
.shop-relation .item-point span { letter-spacing:0; }

@media (max-width:480px) { 
	.responsive .shop-relation.xs-2 .item-price .font-18 { font-size: 15px; }
	.responsive .shop-relation.xs-2 .item-info { font-size: 13px; }
}

/* Item Board */
.list-board { }
.list-board .num { width:70px; }
.list-board .photo { width:70px; }
.list-board .photo i { border-radius:50%; background: rgb(245, 245, 245); padding: 15px; width: 50px; height: 50px; text-align: center; color: rgb(143, 143, 143); font-size: 30px; display: inline-block; }
.list-board .photo img { border-radius:50%; width: 50px !important; height: 50px !important; display:inline-block; }
.list-board .date { width:100px; }
.list-board .hit { width:70px; }
.list-board .name { width:100px; }
.list-board .board-list { list-style:none; padding:0px; margin:0px; margin-bottom:10px; }
.list-board .board-list li { border-bottom:1px solid #ddd; }
.list-board .board-list li > a { display:table; width:100%; table-layout:fixed; }
.list-board .board-list li > a:hover { color:#000; background-color:#F8F8F8; }
.list-board .board-list li > a > div { display:table-cell; height:35px; line-height:25px; padding:5px 0px; text-align:center; color:#666; vertical-align:middle; }
.list-board .board-list li .subj { padding-left:10px; text-align:left; color:#333; color:#000; }
.list-board .board-list .media { margin:0px; padding-top:15px; border-top:1px solid #ddd; line-height:20px; }
.list-board .board-list .media .info { margin-bottom:8px; }
.list-board .board-list .none { padding:50px 0px; }
@media all and (max-width:460px) {
	.responsive .list-board .num { display:none; }
	.responsive .list-board .name { display:none; }
	.responsive .list-board .board-head .second { border-left:none; }
}
