/*
	CSS : main
*/
.title-box {text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 30px;position: relative;}
.title-box a {float: right;font-size: 14px;font-weight: normal;position: absolute;right: 10px;}

.wrap {width: 100%;max-width: 1200px;margin: 0 auto;margin-top: 20px;}
.wrap .banner-link {overflow: hidden;margin-top: 20px;}
.wrap .banner-link > li {float: left;width: 32.333%;text-align: center;font-size: 22px;background-color: #fafafa;border: 1px solid #ddd;margin-right: 1.5%;padding: 3px 0;}
.wrap .banner-link > li:last-child {margin-right: 0;}
.wrap .banner-link > li img {margin-right: 40px;}

.wrap .event {margin-top: 45px;margin-bottom: 45px;}
.wrap .event .event-box {border-top: 2px solid #000;border-bottom: 2px solid #000;padding: 17px 0;overflow: hidden;}
.wrap .event .event-box > div {float: left;width: 41%;}
.wrap .event .event-box > div:last-child {width: 57%;margin-left: 2%;}
.wrap .event .event-box > div:last-child img {max-width: 100%;}

.item-bg {background-color: #f6f6f6;}
.item-bg,
.item-pc {padding: 60px 0;}

.service {width: 100%;max-width: 1200px;margin: 0 auto;margin-bottom: 30px;}
.service .title {font-size: 19px;font-weight: bold;margin-bottom: 14px;border-bottom: 1px solid #ddd;padding-bottom: 15px;}
.service .title a {float: right;}
.service > ul {overflow: hidden;}
.service > ul > li {width: 23%;float: left;margin-right: 2.6%;}
.service > ul > li:last-child {margin-right: 0;}
.service .tel-box {background-color: #eef3f6;padding: 25px 17px;}
.service .tel-box a {font-size: 38px;color: #2f7ce4;font-weight: bold;text-align: center;display: block;margin-bottom: 20px;line-height: 33px;}
.service .tel-box .form-group {overflow: hidden;margin-bottom: 6px;}
.service .tel-box .form-group > div {float: left;width: 27%;font-size: 14px;}
.service .tel-box .form-group > div:last-child {width: 70%;}
.service .tel-box .form-group:last-child {margin-bottom: 0;}

.service .miso-post-list .post-list.qa-list li a {display: block;}

@media (min-width:1920px) {

}
@media (max-width:1600px) {

}
@media (max-width:1919px) {

}
@media all and (max-width:1200px) {
	.wrap .event .event-box > div {width: 100%;float: none;max-width: 800px;margin: 0 auto;}
	.wrap .event .event-box > div:first-child {margin-bottom: 20px;}
	.wrap .event .event-box > div:last-child {width: 100%;margin-left: 0;text-align: center;margin: 0 auto;}
}
@media all and (max-width:991px) {
	.wrap {padding-top: 78px;margin-top: 0;}
	.wrap .banner-link > li {font-size: 17px;}
	.wrap .banner-link > li img {margin-right: 20px;}
	
	.service .tel-box a {font-size: 26px;margin-bottom: 5px;}
	.service .tel-box {padding: 10px 15px;}
	
	.service > ul > li {width: 49.5%;margin-right: 1%;height: 230px;}
	.service > ul > li:nth-child(even) {margin-right: 0;}
	.service > ul > li:nth-child(1),
	.service > ul > li:nth-child(2) {margin-bottom:10px;}
	.item-bg, .item-pc {padding: 60px 10px;}
	.service,
	.wrap .event .event-box {padding: 10px;}
	
}
@media (max-width:767px) {
	.banner-link a span {display: block;}
	.wrap .banner-link > li img {margin: 0;}
	.item-bg, .item-pc {padding: 30px 10px;}
}
@media (max-width:480px) {
	.banner-link a span {font-size: 12px;}
	.service > ul > li {width: 100%;margin-right: 0;height: auto;margin-bottom: 20px!important;}
	.service .tel-box .form-group > div:first-child {text-align: center;}
	.service .tel-box .form-group > div {width: 40%;}
	.service .tel-box .form-group > div:last-child {width: 60%;}
}