@charset "utf-8";

.miso-shop-event { overflow:hidden; position:relative; width:100%; line-height:20px; }
.miso-shop-event .item-list { position:relative; overflow:hidden; }
.miso-shop-event .item-none { padding:50px 10px; text-align:center; color:#888; }
.miso-shop-event .item-image { position:relative; overflow:hidden; }
