@charset "utf-8";

.miso-item .item-wrap { overflow:hidden; line-height:20px; }
.miso-item .item-none { padding:50px 10px; text-align:center; color:#888; }
.miso-item .item-row { float:left; overflow:hidden; }
.miso-item .item-list { overflow:hidden; border:1px solid #ddd; border-bottom: none;}
.miso-item .item-row:nth-last-child(2) .item-list, 
.miso-item .item-row:last-child .item-list {border-bottom: 1px solid #ddd;}
.miso-item .item-image { position:relative; overflow:hidden; margin:0px; width: 30%;float: left;}
.miso-item .is-item-content { width: 70%;float: left;}
.miso-item .item-img { position:relative; overflow:hidden; max-height:360px; }
.miso-item .item-img .wr-img { width:100%; height:auto; }
.miso-item .item-icon { position:absolute; left:0px; top:10px; line-height:1px; z-index:1; }
.miso-item .item-content { overflow:hidden; padding:10px 15px ; height: auto!important;}
.miso-item .item-content strong { font-size:14px; letter-spacing:-1px; padding-right:1px; }
.miso-item .item-content .item-desc { font-size:12px; color:#888;}
.img-wrap .img-item img {width: auto;}
.miso-item .item-cur-price { font-size:13px; padding:0px 15px; line-height:16px; height:16px; margin-top:6px; text-align:right; }
.miso-item .item-price { font-size:15px; padding:0px 15px 10px; line-height:22px; }
.miso-item .price-box {margin-top: 4px;}
.miso-item .item-info { text-align:center; font-size:15px; padding:8px 15px; padding-right:5px; line-height:24px; border-top:1px solid #eee; background:#fafafa; }
.miso-item .item-info span { display:inline-block; margin-right:10px; }
.miso-item .item-info span i { margin-right:2px; }
.miso-item .item-info span.item-star i { margin-right:0px; }
.miso-item #infscr-loading { background: rgb(0, 0, 0); margin:0px; padding: 10px; border-radius: 10px; left: 50%; width: 200px; margin-left:-110px; text-align: center; bottom: 50px; color: rgb(255, 255, 255); position: fixed; z-index: 100; opacity: 0.8; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.miso-item .item-more { text-align:center; margin:15px 0px 0px; }

.miso-item .item-point { position:absolute; left:0; bottom:0; z-index:1; margin:0px !important; padding:4px 6px 4px 15px !important; line-height:1.0 !important;}
.miso-item .item-point span { letter-spacing:0; }

@media (max-width:480px) { 
	.responsive .miso-item.xs-2 .item-price .font-18 { font-size: 15px; }
	.responsive .miso-item.xs-2 .item-info { font-size: 13px; }
}